@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unitless: $angle / ($angle * 0 + 1);
  $unitless: $unitless / 180 * pi();
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}

@mixin onCircle($firstDegree, $count, $width, $widthEl, $maxAngle, $x, $y) {
  $center: $width / 2;
  $centerEl: $widthEl / 2;
  $stepDegree: $maxAngle / $count;
  @if $maxAngle != 360 {
    $stepDegree: $maxAngle / ($count - 1);
  }
  $firstDegree: $firstDegree - $stepDegree;

  @for $i from 1 through $count {
    :nth-child(#{$i}) {
      left: (($center - $centerEl + sin(($firstDegree + $stepDegree * $i)) * $center) + $x)#{px};
      top: (($center - $centerEl - cos(($firstDegree + $stepDegree * $i)) * $center) + $y)#{px};

      @if abs(round(cos(($firstDegree + $stepDegree * $i)) * 1000) / 1000) == 1 {
        justify-content: center!important;
        .label__text {
          text-align: center!important;
        }
      }
      @if sin(($firstDegree + $stepDegree * $i)) > 0 {
        .label__text {
          text-align: left;
        }
      }
      @else {
        justify-content: flex-end;
        .label__text {
          text-align: right;
        }
      }
    }
  }
}
